<% provide(:title, 'Contact') %>
<!DOCTYPE html>
	<head>
		<title>Ruby on Rails Sample App | <%= yield(:title) %></title>
	</head>
	<body>
		<h1>Contact</h1>
		<p>
		Contact me at
		<a href="#">syao21@gmail.com</a>
		or visit my website at
		<a href="#">seanyao.com</a>
		</p>
	</body>
</html>
