<footer class = "footer">
	<small>
		<a href = "#">Sample App</a> by Sean Yao | Copyright 2012
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",	'#' %></li>
			<li><%= link_to "Contact", 	'#' %></li>
			<li><a href = "http://news.google.com">News</a></li>
		</ul>
	</nav>
</footer>